*
{
    margin: 0;
    padding: 0;
}

.feedback-list
{
    width: 100%;
    max-width: 540px;
    margin-top: 30px;
}
.feedback-list_item
{
    font: 400 18px/1.8 'Open Sans', sans-serif;
    color: #333;
}

.form__text_error
{
    font: 400 18px/1.8 'Open Sans', sans-serif;
    color: #ee0707;
}

.form__info-box
{
    padding: 5px 15px;
    background-color: #ddede9;
    font: 400 18px/1.8 'Open Sans', sans-serif;
    color: #15a98b;
    border: #a0e8d9 solid 1px;
    border-radius: 3px;
}

.feedback-list__item
{
    font: 400 18px/1.8 'Open Sans', sans-serif;
    color: #333;
}

.main-feedback
{
    padding: 0 5%;
}

.navbar-feedback
{
    display: flex;
    justify-content: flex-start;
    max-width: 540px;
    width: 100%;
}

.about-me-icon::before,
.hobby-icon::before,
.video-icon::before
{
    content: "";
    padding: 8px;
    margin-right: 10px;
}

.about-me-icon::before
{
    background: url(../images/about_me_icon.png) no-repeat;
}

.hobby-icon::before
{
    background: url(../images/hobby_icon.png) no-repeat;
}

.video-icon::before
{
    background: url(../images/video_icon.png) no-repeat;
}

.header
{
    padding: 0 5%;
}

.navbar
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navbar__link
{
    font: 24px/1.68 Georgia;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 65px;
}

.navbar__link:hover
{
    filter: brightness(0) invert(0.9);
}

.navbar__item
{
    flex-grow: 1;
    padding: 0 15px;
}

.navbar__header
{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 700 30px/0.87 'Open Sans', sans-serif;
    color: #848484;
}

.navbar__header::before
{
    content: url(../images/menu_button.svg);
    margin: 0 3% 0 0;
}

.navbar__item:hover
{
    background-color: #15a98c;
}

.main
{
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.top-container
{
    display: flex;
    flex-direction: column;
    margin: 0 0 8% 0;
}

.grid
{
    display: grid;
    grid-template-columns: 100%;
}

.grid__cell-avatar
{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.grid__cell-quote
{
    grid-column: 1;
    grid-row: 3;
    margin: 5% 0;
}

.grid__cell-title
{
    grid-column: 1;
    grid-row: 2;
}

.grid__cell-lists
{
    grid-column: 1;
    margin: 10% 0;
}

.grid__cell-article
{
    grid-column: 1;
    grid-row: 4;
}

.grid__cell-link
{
    grid-column: 1;
    margin: 0 0 5% 0;
}

.grid__avatar-img
{
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.grid__quote-text
{
    color: #848484;
    font: italic 24px/1.5 georgia;
}

.grid__quote-text_author
{
    color: #333;
    font: 600 18px/2.6 'Open Sans', sans-serif;
}

.grid__title_h1
{
    color: #333;
    font: 700 44px/0.87 'Open Sans', sans-serif;
    margin-bottom: 5%;
}

.title-medium
{
    color: #333;
    font: 400 34px/1.16 'Open Sans', sans-serif;
}

.grid__title_h2
{
    margin: 10% 0 3% 0;
}

.grid__title_h1::after
{
    content: '';
    display: block;
    width: 60px;
    height: 6px;
    border-radius: 5px;
    background: #45c3aa;
    margin: 5.4% 0 0 -5px;
}

.grid__article_text
{
    color: #555;
    font: 22px/1.7 georgia;
}

.grid__list_marked
{
    padding-left: 4px;
    margin: 14px 0 12% 0;
}

.grid__title-list
{
    color: #15a98b;
    font: 600 26px/1.33 'Open Sans', sans-serif;
    margin-bottom: 5%;
}

.grid__list-item
{
    color: #555;
    font: 22px/1.9 georgia;
    list-style-position: inside;
}

.grid__list-item_marked
{
    padding-left: 17px;
    list-style: none;
    background: url(../images/marker.png) no-repeat 0 15px;
}

.grid__link
{
    text-decoration: none;
    display: inline-block;
}

.grid__link-text
{
    color: #15a98b;
    font: 24px/1.9 georgia;
}

.grid__link-text_underline
{
    border-bottom: 1px solid #15a98b;
}

.grid__link-text:hover
{
    color: #098d72;
    border-color: #098d72;
}

.middle-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-cards
{
    margin-bottom: 5%;
}

.card__image
{
    border-radius: 5px;
    width: 100%;
}

.card__title
{
    color: #333;
    font: 700 24px/1.45 'Open Sans', sans-serif;
    margin-top: 5%;
}

.card__text
{
    color: #555;
    font: 22px/1.75 georgia;
    margin: 3% 0 0 0;
}

.bottom-container
{
    display: flex;
    flex-direction: column;
}

.form-title
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20% 0 5% 0;
}

.form-title__line
{
    background-color: #c4c4c4;
    border: 0;
    width: 0;
    height: 0;
}

.form-title__text
{
    color: #333;
    font: 300 32px/1.2 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.form
{
    display: flex;
    flex-direction: column;
}

.form__label
{
    font: 400 22px/1.6 'Open Sans', sans-serif;
    color: #333;
    margin-top: 5%;
}

.form__radio-box_label
{
    font: 400 20px/1.8 'Open Sans', sans-serif;
    margin: 0 2%;
}

.form__input
{
    border: 2px solid #c9c9c9;
    border-radius: 3px;
}

.form__select
{
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    appearance: none;
    overflow: hidden;
    background: url('../images/arrow_down.png') no-repeat 97% 56%;
}

.form__radio-box
{
    display: flex;
    align-items: center;
}

.form__textarea
{
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    resize: none;
    height: 146px;
}

.form__input,
.form__select,
.form__textarea,
.form__select-option
{
    font: 400 18px/1.8 'Open Sans', sans-serif;
    color: #555;
    outline: none;
    padding: 3%;
}

.form__button-box
{
    display: flex;
    justify-content: center;
    margin: 5% 0 10% 0;
}

.button
{
    font: 24px/1.7 Georgia;
    color: #f5f5f5;
    background-color: #15a98c;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 3%;
    width: 60%;
}

.button:hover
{
    background-color: #098d72;
}

.form__label_required::after
{
    content: ' *';
    color: #ee0707;
}

.form__input:hover,
.form__select:hover,
.form__textarea:hover
{
    border-color: #a6a6a6;
}

.form__input:focus,
.form__select:focus,
.form__textarea:focus
{
    border-color: #15a98c;
}

.footer
{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text
{
    font: 20px/2 Georgia;
    color: #555;
    text-align: center;
    padding: 20px 10px;
}

@media screen and (min-width: 768px)
{
    .main
    {
        background: url(../images/background.jpg) no-repeat center 0 #fff;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .top-container
    {
        width: 90%;
        margin: 8% 0 0 0;
    }

    .header
    {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .navbar
    {
        width: 90%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .navbar__header
    {
        display: none;
    }

    .navbar__item
    {
        height: 50px;
        display: inline-flex;
        align-items: center;
        flex-grow: 0;
        padding: 0;
    }

    .navbar__link
    {
        font-size: 19px;
        padding: 0 17px 0 20px;
        height: 50px;
    }

    .grid
    {
        grid-template-columns: 34% 66%;
        grid-column-gap: 3%;
    }

    .grid__cell-avatar
    {
        flex-direction: column;
        align-items: flex-start;
        grid-column: 1;
        grid-row: 1/3;
    }
    
    .grid__cell-lists
    {
        margin: 14% 0 0 0;
    }

    .grid__cell-quote
    {
        grid-column: 2;
        grid-row: 1;
    }

    .grid__cell-title
    {
        grid-column: 2;
        grid-row: 2;
    }

    .grid__cell-article
    {
        grid-column: 2;
        grid-row: 3;
    }

    .grid__cell-link
    {
        grid-column: 2;
        grid-row: 4;
    }

    .grid__avatar-img
    {
        margin: 0;
    }
    
    .grid__title-list
    {
        font-size: 20px;
        margin: 0;
    }
    
    .grid__list_numbered
    {
        margin-top: 13px;
    }
    
    .grid__list-item
    {
        font-size: 17px;
    }
    
    .grid__quote-text
    {
        color: #fff;
        font-size: 28px;
        width: 90%;
    }
    
    .quote__author
    {
        margin: 3px 0 0 6px;
    }

    .grid__quote-text_author
    {
        color: #f5f5f5;
    }
    
    .grid__cell-article
    {
        margin: 50px 0 0;
    }

    .grid__title_h1
    {
        color: #f5f5f5;
        font-size: 48px;
        margin: 70px 0 0 5px;
    }
    
    .grid__title_h2
    {
        margin: 0 auto 16px 0;
    }
    
    .title-medium
    {
        font-size: 36px;
    }
    
    .grid__article_text
    {
        font-size: 18px;
        margin: 8px 0 20px 0;
        width: 94%;
    }
    
    .grid__link
    {
        margin: 3% 0 0 0;
    }
    
    .grid__link-text
    {
        font-size: 19px;
    }

    .middle-container
    {
        background-color: #f9f9f9;
        padding: 36px 0 0 0;
        width: 100%;
    }
    
    .title-cards
    {
        margin: 0 0 34px 0;
    }
    
    .card__title
    {
        font-size: 22px;
        margin: 20px 0 0 0;
    }
    
    .card__text
    {
        font-size: 18px;
        margin-top: 17px;
    }

    .bottom-container
    {
        align-items: center;
    }
    
    .form__button-box
    {
        justify-content: flex-start;
    }

    .form-title
    {
        display: flex;
        margin: 10% 0 0 0;
    }
    
    .form-title__text
    {
        font-size: 36px;
        margin: 0 25px;
    }
    
    .form-title__line
    {
        width: 200px;
        height: 1px;
    }
    
    .form
    {
        width: 540px;
        margin-top: 40px;
    }
    
    .form__label
    {
        font-size: 20px;
        margin: 26px 0 3px 0;
    }
    
    .form__radio-box_label
    {
        font-size: 18px;
        margin: 0 39px 0 9px;
    }
    
    .form__input
    {
        height: 46px;
    }
    
    .form__select
    {
        height: 50px;
    }
    
    .form__radio-box
    {
        width: 100%;
        margin: 1px 0 10px 0;
    }

    .form__radio-label
    {
        margin-top: 40px;
    }
    
    .form__textarea
    {
        margin: 0 0 0 0;
    }
    
    .form__input,
    .form__select,
    .form__textarea,
    .form__select-option
    {
        padding: 0 17px;
    }

    .button
    {
        font-size: 19px;
        width: 220px;
        height: 50px;
        padding: 0;
        margin: 0;
    }

    .cards-button
    {
        margin: 54px 20px 60px 0;
    }

    .footer
    {
        height: 70px;
        margin: 50px 0 0 0;
    }
    
    .footer__text
    {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px)
{
    .form__text_error
    {
        font-size: 14px;
    }
    .grid
    {
        grid-template-columns: 330px 600px;
        grid-template-rows: 175px 175px 490px 50px;
        grid-column-gap: 60px;
    }
    
    .top-container
    {
        width: 100%;
        max-width: 960px;
        margin: 210px 0 0 0;
    }

    .middle-container
    {
        margin: 3% 0 0 0;
    }

    .navbar
    {
        max-width: 960px;
    }
    
    .grid__title-list
    {
        font-size: 24px;
    }

    .grid__list-item
    {
        font-size: 19px;
    }

    .grid__title_h1
    {
        color: #333;
        margin: 60px 0 0 5px;
    }

    .grid__title_h2
    {
        margin: 20px auto 16px 0;
    }

    .grid__cell-article
    {
        margin: 0;
    }

    .grid__article_text
    {
        font-size: 19px;
        margin: 8px 0 75px 0;
        width: 87.5%;
    }

    .grid__cell-quote
    {
        margin: 25px 0 0 3px;
    }

    .grid__link
    {
        margin: 8px 0 0 0;
    }
}

@media screen and (min-width: 1366px)
{
    .middle-container
    {
        margin: 49px 0 0 0;
    }

    .grid__quote-text_author
    {
        font-size: 16px;
        margin: 3px 0 0 3px;
    }

    .title-cards
    {
        width: 82.7%;
        max-width: 1200px;
    }

    .card__text
    {
        font-size: 16px;
    }

    .form-title
    {
        display: flex;
        margin: 45px 9px 0 0;
    }

    .form__button-box
    {
        margin: 50px 0 0 0;
    }

    .footer__text
    {
        margin: 0 20px 0 0;
    }
}

.error
{
  border-color: #ee0707 !important;
}